node_modules/
dist/
*.log
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
.tools/
revit-export/build/
revit-export/RevitExportAddin/bin/
revit-export/RevitExportAddin/obj/
revit-export/RevitExportAddin/Assets/**/*.rfa
revit-export/RevitExportAddin/Assets/**/*.rte
aps-revit-import/build/
aps-revit-import/RevitImportExtractorAddin/bin/
aps-revit-import/RevitImportExtractorAddin/obj/
ml/

